<html>

<body>

<h1>Log In form</h1>

<form action="/loginStd" method="post">
	<table border="1" cellspacing="10">
		<tr>
			<td>Email</td>
			<td><input type="email" name="email"></td>
		</tr>

		<tr>
			<td> Password</td>
			<td> <input type="password" name="password"> </td>
		</tr>

		<tr>
			<td><input type="submit" ></td>
			<td><input type="reset"></td>
		</tr>
	</table>
</form>

<div>
<p>if you are a new user,please <a href="reg"><b>Sign In<b></p>
</div>
<h2><a href="/">Home</a></h2>
</body>

</html>