<html>

<body>

<h1>Registration Form</h1>

<form action="addStd" method="POST">
	<table border="1" cellspacing="10">
		<tr>
			<td>Id</td>
			<td><input type="text" name="id"></td>
		</tr>

		<tr>
			<td>Name</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>School Name</td>
			<td><input type="text" name="schoolname"></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><input type="text" name="address"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="email" name="email"></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="" name="phone"></td>
		</tr>
		<tr>
			<td> Password</td>
			<td> <input type="password" name="password"> </td>
		</tr>

		<tr>
			<td><input type="submit" ></td>
			<td><input type="reset"></td>
		</tr>
	</table>
</form>

<h2><a href="/">Home</a></h2>
</body>

</html>